## Basic Usage

In [4]:
print("Hello World")

Hello World

In [5]:
# Single or double quotes - both work
print('Single quotes')
print("Double quotes")

Single quotes
Double quotes

## Strings vs Expressions

- Text in quotes → printed as-is
- No quotes → evaluated first

In [6]:
print('3 + 4')   # Output: 3 + 4 (string)
print(3 + 4)     # Output: 7 (evaluated)

3 + 4
7

## Multiple Arguments

Pass multiple values separated by commas. They're joined with spaces by default.

In [7]:
print('Name:', 'Vamsi', 'Age:', 25)

Name: Vamsi Age: 25

In [8]:
# Mix strings and expressions
print('Result:', 10 * 5)

Result: 50

## The `sep` Parameter

Changes the separator between arguments (default is space).

In [9]:
print('a', 'b', 'c')              # a b c
print('a', 'b', 'c', sep='-')     # a-b-c
print('a', 'b', 'c', sep='')      # abc
print('a', 'b', 'c', sep='\n')    # each on new line

a b c
a-b-c
abc
a
b
c

## The `end` Parameter

Changes what's printed at the end (default is newline `\n`).

In [10]:
print('First', end=' ')
print('Second')           # First Second (same line)

First Second

In [11]:
print('Loading', end='...')
print('Done!')            # Loading...Done!

Loading...Done!

## Escape Characters

| Code | Meaning |
|------|--------|
| `\n` | New line |
| `\t` | Tab |
| `\\` | Backslash |
| `\'` | Single quote |
| `\"` | Double quote |

In [12]:
print('Line 1\nLine 2')
print('Column1\tColumn2')

Line 1
Line 2
Column1	Column2

## Quick Reference

```python
print(value)                    # Basic
print(a, b, c)                  # Multiple values
print(a, b, sep='-')            # Custom separator
print(a, end='')                # No newline at end
print(a, b, sep='-', end='!')   # Both
```

---

## Practice

In [13]:
# Q1: Print this triangle
# *
# **
# ***
# ****
# *****

print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

In [14]:
# Q2: Print the result of (123 - 282) / (47.34 + 23)

print((123 - 282) / (47.34 + 23))

-2.260449246516918